<div class="comicStripWithNav" >
	<div class="comicstripwithNavBg" ></div>
	<div class="content-panel" >
		<div class="content-bg ">
			<div class="top-content-bg white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText " tabindex="3"><p></p></div>
				<div class="pageInstruction" tabindex="5" ><p class="instructionText"></p></div>
			</div>
			<div class="comicStripContainer">
				<div class="stripContainer">
					<div class="img_slider" id="slider_1">
						<img src="" title="" />
						<div class="stripCallOut">
							<img src="" title="" />
							<p class="stripCallOutText"></p>
						</div>
					</div>
				</div>  	
			</div>
			<div class="comicStripBtnContainer">
				<a href="javascript:void(0);" class="stripBtn stripBackBtn disabled" ></a>
				<a href="javascript:void(0);" class="stripBtn stripNextBtn" ></a>		
			</div>
		</div>
		
	</div>
</div>
