<div class="comicStrip" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg">
			<div class="introCOntainer white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>
				<div class="pageText" tabindex="4"><p></p></div>
				<div class="pageInstruction" style="display: block;"><p class="instructionText">TEXT</p></div>
			</div>
			<div class="comicStripContainer">
				<div class="stripContainer">
					<div class="img_slider" id="slider_1">
						<img src="" title="" />
						<div class="stripCallOut">
							<img src="" title="" />
							<p class="stripCallOutText"></p>
						</div>
					</div>
				</div>
				<div class="thumbnailContainer">						
				</div>        	
			</div>
		</div>
		
	</div>
</div>
