<div class="dragNDrop" >
	<img class="panelBg" src="" width="1024px" tabindex="4" title="" />	
	<div class="pageText pageMargin" tabindex="5"><p></p></div>
	<div class="dragContainer clearfix" >		
		<div class="optionContainer" >
			
		</div>
			
		<div class="userFeedback" >	
			<div class="userFeedbackText" >	<div class="textContainer"> </div></div>		
		</div>
		<div class="infoContainer" >
			<a class="close_info" href="javascript:void(0);" ></a>
			<div class="infoArrow" ></div>		
			<div class="infoText" ></div>		
		</div>	
	</div>
	<div class="pageInstruction"  ><p class="instructionText">TEXT</p></div>
</div>

