<div class="dragNDrop1" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg white-background-bg">
			<div class="pageTitle" tabindex="2" ><p></p></div>		
			<div class="pageText " tabindex="3"></div>
			<div class="pageInstruction" tabindex="5" ><p class="instructionText"></p></div>
		</div>
		<div class="dragContainer clearfix" >
			<div class="labelContainer" >		
			</div>
			<div class="optionContainer" >		
			</div>
			<div class="dropContainer" >	
			</div>	
			<div class="feedbackContainer" >
				<div class="feedbackText" ></div>		
			</div>	
		</div>
	</div>
</div>

