<div class="formativeTAWA" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg">			
			<div class="white-background-bg intro-text"  >
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText" tabindex="3"><p></p></div>	
				<div class="pageInstruction"  ><p class="instructionText">TEXT</p></div>
			</div>
			<div class="queContainer-holder">
				<div class="queContainer clearfix white-background-bg" >
					<div class="optionContainer mrq " ></div>
				</div>
				<div class="feedback-holder">
					<div class="userFeedback" >	
						<div class="userFeedbackText" >
							<div class="textContainer"></div>
							<div class="userFeedbackHeader"></div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

