<div class="formativeAgreeDisagree" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg ">
			<div class="white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText pageMargin" tabindex="4"><p></p></div>
				<div class="pageInstruction"  ><p class="instructionText">TEXT</p></div>
			</div>
			<div class="queContainer clearfix" >
				<div class="optionContainer mcq " >
				
				</div>
				<div class="userFeedback" >
					<div class="userFeedbackHeader" ></div>
					<div class="userFeedbackText" >	<div class="textContainer"> </div></div>		
				</div>
				<div class="infoContainer" >
					<a class="close_info" href="javascript:void(0);" ></a>
					<div class="infoArrow" ></div>		
					<div class="infoText" ></div>
				</div>
			</div>			
		</div>
	</div>	
</div>

