<div class="graphicReveal1" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg">
			<div class="introCOntainer white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText " tabindex="3"><p></p></div>
				<div class="pageInstruction" tabindex="7" ><p class="instructionText"></p></div>
			</div>				
			<div class="revealButton-container">
				<a href="javascript:void(0);" class="revealButton transparentBg" tabindex="7" ></a>	
				<div class="tickCross"></div>	
			</div>
			<div class="popUpContainer">
				<img class="popUpImg" src="" width="100%" tabindex="8" title="" />		
				<div class="popUpText" ></div>				
			</div>
			<div class="revealButton-container2">
				<a href="javascript:void(0);" class="revealButton2 transparentBg" tabindex="7" ></a>	
				<div class="tickCross"></div>	
			</div>
			<div class="popUpContainer2">
				<img class="popUpImg2" src="" width="100%" tabindex="8" title="" />		
				<div class="popUpText2" ></div>				
			</div>
		</div>
	</div>
</div>


