<div class="hotSpot1" >
<img class="hotspotBg posAB" src=""  tabindex="4" title="" />
	<div class="pageText" tabindex="5"><p></p></div>
	<div class="hotSpotContainer" >
			
	</div>
	<div class="popUpContainer" >
		<img class="popUpImg" src="" width="100%"/>
		<a href="javascript:void(0);" class="closePopUp" />
		<!-- <div class="hotSpot2PopHeader" ><p></p></div> -->
		<div class="popUpText" >
		  <p></p>
		</div>
	</div>
	<div class="pageInstruction" tabindex="6"><p class="instructionText"></p></div>
</div>


