<div class="hotSpotCustom" >
	<div class="hotspotBg" ></div>
	<div class="content-panel" >
			<div class="content-bg white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText " tabindex="3"><p></p></div>
				<div class="pageInstruction" tabindex="7" ><p class="instructionText"></p></div>
				<div class="hotSpotContainer " >	
				</div>
			</div>
			<div class="popUpContainer white-background-bg" >
				<img class="popUpImg" src="" width="100%"/>
				<a href="javascript:void(0);" class="closePopUp" />
				<div class="hotSpot2PopHeader" ><p></p></div>
				<div class="popUpText" >
				  <p></p>
				</div>
			</div>
	</div>
</div>


