<div class="interactiveVideo" >
	<div class="interactiveVideoBg" ></div>
	<div class="content-panel" >
			<div class="interactiveVideoContainer">
				<div class="videoMainContainer">
					<div class="contentHolder" >
						<div class="videoContainer" id="video-container"></div>
						<div class="videoIntroDiv">
							<img src="" class ="videoImg" />
							<a href="javascript:void(0)" class="vPlay"></a> 
						</div>
					</div>
				</div>
				<div class="nonVideoContaner">
					<div class="contentHolder" >
						<div class="stripContainer">
							<div class="img_slider" id="slider_1">
								<img src="" title="" />
							</div>
						</div>  	
						<div class="progressContainer">						
							<div class="progDivCon"></div> 
						</div> 
						<div class="stripTextContainer"></div> 	
					</div>
					<div class="interactiveBtnContainer">
						<a href="javascript:void(0);" class="stripBtn stripBackBtn disabled" ></a>
						<a href="javascript:void(0);" class="stripBtn stripNextBtn" ></a>		
					</div>						
				</div> 
				<div class="top-content-bg white-background-bg">
					<div class="pageTitle" tabindex="2" ><p></p></div>		
					<div class="pageText " tabindex="3"><p></p></div>
					<div class="pageInstruction" tabindex="5" ><p class="instructionText"></p></div>
				</div>
			</div>	
	</div>
</div>
