<div class="matching" >
	<div class="popupSemiBlack" >
		<div class="feedback">
			<div class="popupText"></div>	
			<a href="javascript:void(0);" class="closePopup"></a>			
			<div class="userFeedbackHeader" ></div>
		</div>
	</div>
	<div class="infoHolder" >
		<div class="infoContainer" >
				<a class="close_info" href="javascript:void(0);" ></a>		
				<div class="infoText" ></div>
		</div>
	</div>
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg">
			<div class="white-background-bg">
				<div class="pageTitle" tabindex="2" ><p></p></div>		
				<div class="pageText" tabindex="5"><p></p></div>
				<div class="pageInstruction" ><p class="instructionText">TEXT</p></div>
			</div>
			<div class="activityContainer" id = "activityContainer">
				<div class="boundingRect"></div>
				<div class="leftColum">
					<div class="header"></div>
				</div>
				<div class="rightColum">
					<div class="header"></div>
				</div>
				<div id="lineHolder">
				</div>
				<div class="feedback">
					<div class="popupText"></div>	
				<!-- 	<div class="userFeedbackHeader" ></div> -->
				</div>
			</div>
		</div>
	</div>	
</div>

