<div class="slider" >
	<div class="pageText pageMargin" tabindex="4"><p></p></div>
	<div class="sliderContainer" >
		<div class="sliderContent" >			
			
		</div>
		<div class="slideInfoArrow" ></div>		
	</div>
	<div class="userFeedback" >			
	</div>	
	<div class="slideInfoContainer" >
		<a class="slideClose_info" href="javascript:void(0);" ></a>			
		<div class="popupText" ><div class="slideInfoText" ></div></div>		
		</div>
	<div class="pageInstruction"  tabindex="5"><p class="instructionText"></p></div>
</div>


