<div class="videoPlayerWithText" >
	<div class="panelBg" ></div>
	<div class="content-panel" >
		<div class="content-bg white-background-bg">
			<div class="pageTitle" tabindex="2" ><p></p></div>		
			<div class="pageText " tabindex="3"></div>
			<div class="pageInstruction" tabindex="5" ><p class="instructionText"></p></div>
		</div>
		<div class="panelContainer">
			<div class="videoImg"></div>
			 <div class="videoTextParent">
				<div class="videoText"></div>	
			</div>
			<a href="javascript:void(0)" class="play" tabindex="8"  ></a> 
		</div>
	</div>
</div>
